services:
  api-gateway:
    build: 
      context: .
      dockerfile: ./apps/api-gateway/Dockerfile
    env_file:
      - ./apps/api-gateway/.env.docker
    ports:
      - 3000:3000
    depends_on:
      users-service:
        condition: service_healthy

  users-service:
    build: 
      context: .
      dockerfile: ./apps/users-service/Dockerfile
    env_file:
      - ./apps/users-service/.env.docker
    ports:
      - 3001:3001
    depends_on:
      users-db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "arg"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s

  users-db:
    image: postgres:15-alpine
    restart: always
    env_file:
      - ./apps/users-service/.env.docker
    volumes:
      - users-db-data:/var/lib/postgresql/data
    expose:
      - 5432
    healthcheck:
      test: ['CMD', 'pg_isready']
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management-alpine
    restart: always
    ports:
      - 5672:5672
      - 15672:15672
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s

volumes:
  users-db-data:
